rect.bordered {
  stroke: #000000;
  stroke-width:1px;
  }

text.mono {
  fill: #bbb;
  font-size: 10pt;
  font-family: arial, sans-serif;
}

text.axis-workdays {
  fill: #000;
}

text.axis-workhours {
  fill: #000;
}

.dataset-button {
    position: relative;
    top: -12px;
    left: 120px;
  }
